@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
}

html {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header {
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
}

.header-title-line {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* This button will contain our hamburger */
.menu-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* implies that we will position something absolute inside of the button */
}

/* These are the three layers of our animated hamburger icon */
.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: var(--HEADER-COLOR);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

/* the below ruleset is what makes the top and bottom layers of our hamburger visible */
.menu-icon::before,
.menu-icon::after {
  content: "";
}

/* My hamburger layers are stacked on top of each other. I need to change their position */

.menu-icon::before {
  transform: translate(-20px, -12px);
  /* -20px because it starts in the middle and the width is 40px */
}

.menu-icon::after {
  transform: translate(-20px, 12px);
  /* -20px because it starts in the middle and the width is 40px */
}
